// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
$ff: 'Inter', sans-serif;

// MEDIA
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// COLORS
$primary: #3F63C8;
$white: #ffffff;
$grey: #B8B8B8;
$light-grey: #F4F0F0;
$background: #FBFBFF;
$black:#000000;


// CSS
$box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
$border-radius: 15px; 
$border-radius-big: 25px;