// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
$ff: 'Inter', sans-serif;

// MEDIA
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// COLORS
$primary: #1a5cff;
$white: #ffffff;
$grey: #C4C4C4;